* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-hue: 270;
    /* 270 */
    --black-lightness: 15%;
    --dark-lightness: 44%;
    --light-lightness: 94%;
    --white-lightness: 100%;
    --hover-lightness: 65%;
    --nav-item-lightness: 25%;

    --saturation-main: 89%;
    --saturation-secondary: 20%;

    --color-primary: hsl(var(--primary-hue), var(--saturation-main), 41%);
    --color-white: hsl(0, 5%, var(--white-lightness));

    --color-light: hsl(var(--primary-hue), var(--saturation-secondary), var(--light-lightness));

    --color-black: hsl(var(--primary-hue), var(--saturation-secondary), var(--black-lightness));

    --color-dark: hsl(var(--primary-hue), var(--saturation-secondary), var(--dark-lightness));

    --color-light-bg2: hsl(var(--primary-hue), var(--saturation-main), var(--light-lightness));

    /* --color-bg-liTheme-dark: hsl(var(--primary-hue), var(--saturation-secondary),var(--light-lightness)); */

    --color-primary-hover: hsl(var(--primary-hue), var(--saturation-main), var(--hover-lightness));

    --color-primary-nav-item-bg: hsl(var(--primary-hue), var(--saturation-main), var(--nav-item-lightness));

    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-nav-menu: 50%;

    --border-radius-1: 1.2rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 0.5rem;

    --transition: all 400ms ease;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-size: 0.9rem;
}

/* container class */

.container {
    width: var(--container-width-lg);
    margin-inline: auto;
    max-width: 1920px;
}

/* general styles */

/* light mode */
/* section {
    padding: 10rem 0;
    background: var(--color-white);
    transition: var(--transition);
}

section:nth-child(odd) {
    background: var(--color-light);
} */

/* dark mode */
section {
    padding: 10rem 0;
    transition: var(--transition);
    font-weight: bold;
}
#light section{
    background: var(--color-light-bg2);
    color: var(--color-black);
}
#dark section{
    background: var(--color-dark);
    color: var(--color-white);
}
#dark section:nth-child(odd) {
    background: var(--color-primary-nav-item-bg);
}
#light section:nth-child(odd) {
    background: var(--color-white);
}

section > h2 {
    text-align: center;
}

section > p {
    text-align: center;
    margin: 0.5rem auto 4rem;
    width: 40%;
}

/* general styles */

/* a tags */
a {
    color: var(--color-white);
    transition: var(--transition);
}

/* headers */
/* dark mode */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
}
#dark h1, #dark h2, #dark h3, #dark h4, #dark h5, #dark h6 {
    color: var(--color-white);
}
#light h1, #light h2, #light h3, #light h4, #light h5, #light h6 {
    color: var(--color-black);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 0.95rem;
}

h6 {
    font-size: 0.8rem;
}

/* images */
.img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* buttons */
.btn {
    display: inline-block;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    /* background: var(--color-light);
    color: var(--color-black); */
    padding: 0.6rem 2.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    /* border-color: var(--color-light); */
    transform: translateY(-0.5rem);
}

/* .btn.white {
    background: var(--color-white);
}

.btn.white:hover {
    background: transparent;
    border-color: var(--color-white);
} */

/* light mode */
/* .btn.primary {
    background: var(--color-primary);
    color: white; 
} */
/* set to regular white or color white; ?? */


/* .btn.primary:hover {
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
} */

/* dark mode */
#dark .btn.primary {
    color: var(--color-white);
    font-weight: bold;
    background: var(--color-primary-hover);
    /* dark mode */
    border: 3px solid var(--color-white);
}
#light .btn.primary {
    color: var(--color-black);
    font-weight: bold;
    background: var(--color-light-bg2);
    /* dark mode */
    border: 3px solid var(--color-black);
}
/* set to regular white or color white; ?? */
#dark .btn.primary:hover {
    background: var(--color-white);
    border-color: var(--color-primary-hover);
    color: var(--color-primary);
}
#light .btn.primary:hover {
    background: var(--color-primary-hover);
    color: var(--color-light);
    border-color: var(--color-light);
}




.btn.sm {
    padding: 0.5rem 1.2rem;
}

/* media queries */

/* tablets */
@media screen and (max-width: 1024px){
    body {
        font-size: 1rem;
    }

    .container {
        width: var(--container-width-md);
    }

    section {
        padding: 8rem 0;
    }

    section > p {
        width: 72%;
        margin-bottom: 3rem;
    }

    h1 {
        font-size: 2rem;
    }
}

/* phones */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1rem;
    }

    .btn {
        padding: 0.6rem 1.5rem;
    }

    section > p {
        width: var(--container-width-md);
    }
}